
html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body{
    min-height: 100%;
    height: auto;
    overflow: hidden;
}

.claro{
    color:white;
}
.colorIconoLogin{
    color:#20a8a6;
}

.fondo-login{
    background: rgb(2,0,36);
    background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(80,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: #1A2980;  /* fallback for old browsers */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.video-login{
 width: 100%;
 height: 100%;
}


.sombra{
    box-shadow: 2px 7px 5px -1px rgba(0,0,0,0.2);
}

.estadoActivo{
    color: #01a2b9;
    background-color: #b3e8fc;
}

.estadoFinalizado{
    color: green;
    background-color: #91ff98;
}

.estadoCancelado{
    color: red;
    background-color: #ffbaba;
}

.calificar{
    color: rgb(255, 199, 0);
    background-color: rgba(253, 255, 156, 0.85);
}

.finalizar{
    color: rgb(166, 123, 0);
    background-color: rgba(255, 226, 0, 0.75);
}

.redondeadoEstado{
    border-radius: 50px 50px 50px 50px;
    border: 0px solid #000000;
}

.denunciar{
    color: rgb(255, 98, 0);
    background-color: rgb(255, 207, 144);
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

.labelFormCalificar{
    color: grey;
    width: 60px;
    height: 60px;
    font-size: 40px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
    
}

.cajaColorRojo{
    background-color: rgb(253, 216, 216);
}

.figuraColorRojo{
    color: red !important;
}

.figuraColorVerde{
    color: rgb(3, 190, 3);
}

.figuraColorVioleta{
    color: rgb(94, 0, 246);
}

.figuraColorRosa{
    color: rgb(255, 0, 179);
}

.cajaColorAzulado{
    background-color: rgb(243, 249, 253);
}

.cajaColorAzulFuerte{
    background-color: #2F4FA7!important;
}

.cajaColorVioleta{
    background-color: rgb(227, 210, 255);
}

.cajaColorVerde{
    background-color: rgb(209, 255, 209);
}

.cajaColorRosa{
    background-color: rgb(255, 215, 244);
}

.bordeVioleta{
    border:solid 1px rgb(94, 0, 246);
}

.bordeRojo{
    border:solid 1px red !important;
}

.bordeRosa{
    border:solid 1px rgb(255, 0, 179);
}

.bordeVerde{
    border:solid 1px rgb(3, 190, 3);
}

.sombraColorRojo{
    box-shadow: 2px 7px 5px -1px rgb(255, 120, 120);
}


/*/////////////////////////////////////////////////////////////*/
.fondo{
    background-color: #DDEEFE;
}

.fondoMain{
    background-image: url(/img/fondo.png)!important;
    background-repeat: no-repeat; 
    background-position: center top;
 }

.fondo2{
    background: rgb(107,121,170);
    background: linear-gradient(0deg, rgba(107,121,170,1) 0%, rgba(30,191,181,1) 100%); 
}

.fondo3{
    background-color: rgb(36,205,227);
    background-color: linear-gradient(90deg, rgba(36,205,227,1) 0%, rgba(30,145,242,1) 100%);
}

.fondo4{
    background-color: #F5F8FF!important;
}

.color-letra1{
    color: #30275C!important;
}

.color-letra2{
    color: #5B46E0!important;
}

.color-letra3{
    color: #2F4FA7!important;
}

.color-letra3a{
    color: #94AADE!important;
}

.color-letra4{
    color: #06f7cef6!important;
}


.colorBoton{
    background: rgb(147,252,236);
    background: linear-gradient(177deg, #25D9E0  0%, #2F4FA7 100%);   
}


.fondo1{
    background-color: #5B46E0;
}

.sombraBoton{
    box-shadow: 2px 7px 5px -1px rgba(0,0,0,0.2);
}

.redondeadoEstado{
    border-radius: 50px 50px 50px 50px;
    border: 0px solid #000000;
}

.z-index1{
    z-index: 1;
}

.z-index2{
    z-index: 2;
}

.imagenDoctor{
    background-image: url(/img/fondoDoctor.png)!important;
    background-repeat: no-repeat; 
    background-position: center top;
 }

 @keyframes latidos {
    from { box-shadow: none; }
    50% { box-shadow: 2px 7px 20px -1px #3197db; }
    to { box-shadow: none; }
}

@keyframes latidosBotonPrincipal {
    from { box-shadow: none; }
    50% { box-shadow: 0px 0px 20px 5px #3197db; }
    to { box-shadow: none; }

}

 .bordeCajaVideo{
     border: 5px solid ;
     border-image: linear-gradient( #3acfd5 0%, #3197db 100%) 1; 
     background-color: rgb(255, 255, 255);
 }

 .bordeRedondeado{
    border-radius: 10px 10px 10px 10px !important;
 }
 .efectoLatido{
    animation: latidos .7s infinite;
 }

 .bordeCajaVideo:hover{
    box-shadow: 2px 7px 20px -1px #3197db;

 }

 .hoverLatido:hover{
    animation: latidos .7s infinite;
 }

 .latidosBotonPrincipal:hover{
    animation: latidosBotonPrincipal ease-in infinite;
 }

 .efectoLatidoCorazon{
    animation: latidossss .7s infinite;
 }

@keyframes latidossss {
    from { transform: none; }
    20% { transform: scale(1.5);}
    40% { transform: scale(1.25);}
    60% { transform: scale(1.5);}
    80% { transform: scale(1.5);}
    to { transform: none; }
}

.labelForma{
    box-shadow:  2px 2px 5px 0px #73b2db;
    border-radius: 7px 7px 7px 7px !important;
}

.botonFormaForm{
    border-radius: 7px 7px 7px 7px !important;
}

label:hover{
    animation: latidosChico .7s infinite;
}

@keyframes latidosChico {
    from { transform: none; }
    20% { transform: scale(1.2);}
    40% { transform: scale(1.1);}
    60% { transform: scale(1.2);}
    80% { transform: scale(1.2);}
    to { transform: none; }
}